@use "base";

@use "custom/adverbs";
@use "custom/greenButton";
@use "custom/explorer";

// prevents superscripts (like footnote references) from increasing the line spacing
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.4em;
}

// prevent page headers from showing
.center:has(article.no-page-header) .page-header {
  .article-title,
  .content-meta {
    display: none !important;
  }
}

// reduce unused space at top of page. default is 6rem for all.
.page > #quartz-body .sidebar.right {
  padding-top: 4rem !important;
}

.page > #quartz-body .sidebar.left {
  padding-top: calc((4 - 0.1) * 1rem) !important; // reduces left sidebar slightly more to account for empty space above site title
}

.page > #quartz-body .page-header {
  margin-top: 4rem !important;
}

// testing
kbd {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 0 0 #b4b4b4;
  color: #333;
  display: inline-block;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 0.85em;
  font-weight: 600;
  line-height: 1;
  padding: 2px 6px;
  white-space: nowrap;
  user-select: none;
  vertical-align: 0.1em;
}

kbd:hover {
  background-color: #f0f0f0;
  box-shadow: 0 1px 0 0 #b4b4b4;
  transform: translateY(1px);
}

kbd:active {
  background-color: #e5e5e5;
  box-shadow: 0 0 0 0 #b4b4b4;
  transform: translateY(2px);
}

[data-theme="dark"] kbd {
  background-color: #2d3139;
  border-color: #444c56;
  box-shadow: 0 2px 0 0 #1e2228;
  color: #adbac7;
}

// automatic dark mode switching (light and dark versions)
// kbd {
//   background-color: #f7f7f7;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   box-shadow: 0 2px 0 0 #b4b4b4;
//   color: var(--text);
//   display: inline-block;
//   font-family: var(--codeFont, ui-monospace, SFMono-Regular, monospace);
//   font-size: 0.85em;
//   font-weight: 600;
//   line-height: 1;
//   padding: 2px 6px;
//   white-space: nowrap;
// }
//
// [saved-theme="dark"] kbd {
//   background-color: #2d3139;
//   border-color: #444c56;
//   box-shadow: 0 2px 0 0 #1e2228;
// }

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 32px;

  a {
    color: var(--secondary);

    &:hover {
      color: var(--tertiary);
    }
  }
}
