@use "base";

@use "custom/adverbs";
@use "custom/greenButton";

// prevents superscripts (like footnote references) from increasing the line spacing
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.4em;
}

// prevent page headers from showing
.center:has(article.no-page-header) .page-header {
  .article-title,
  .content-meta {
    display: none !important;
  }
}

// reduce unused space at top of page. default is 6rem for all.
.page > #quartz-body .sidebar.right {
  padding-top: 4rem !important;
}

.page > #quartz-body .sidebar.left {
  padding-top: calc((4 - 0.1) * 1rem) !important; // reduces left sidebar slightly more to account for empty space above site title
}

.page > #quartz-body .page-header {
  margin-top: 4rem !important;
}
